
    .btn, .brown .btn { 
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    } 

      @font-face {
      font-family: MinnieDrop;
      font-weight: regular;
      src: url("../fonts/MinnaDrop-Regular.otf") format("opentype");
      }


      @font-face {
      font-family: Selima ;
      font-weight: regular;
      src: url("../fonts/Selima .otf") format("opentype");
      }

      html, body { overflow-x: hidden; }


    p, li { font-size: 16px;}
    p {color: #353535; margin-bottom: 20px; font-family: 'Oxygen', sans-serif;}
    label {color: #353535; font-family: 'Oxygen', sans-serif;}
    a {color: #fff;}
    a:hover {text-decoration: none; cursor: pointer;}
    ul, ol {list-style: none;}
    h1, h2, h3, h4, h5, h6 {color: #323232; font-family: 'Archivo Black', sans-serif;}
    h4 {font-size: 23px;}
    h5 {font-size: 15px;}
    .about h2 {color: #fff;}
    h4 span {display: block;}

    #home .page-title h1 {color: #b90f8b; text-align: center;}
    

    .page-title h1 {
      color: #fff;
      margin: 20px 0 30px;
      font-size: 50px;
      }

    .logo {
      padding: 10px 0;
      background: #a91f36;
    }

    .logo img {
      max-width: 200px;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
     }

    .fixed {
    position: fixed;
    top: 0;
    height: 80px;
    z-index: 1000;
    width: 100%;
    margin: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    }

    .fixed ul.menu {margin: 30px auto 0;}
    .fixed .logo {margin: 2px auto 0;}
    .fixed .btn.yellow {margin: 40px 0 0 60px;}

    .fixed.logo img {max-width: 170px; margin-top: 15px;}

    .fixed .links ul {top: 5px;}
    .fixed nav ul ul {top: 60px!important;}

    .fixed .here {color: rgb(250, 190, 30); background: none;}


    .fixed .links a:hover {color: #b90f8b; background: none;}


    .menu-bg h4 {display: none;}
    
    .fixed h4 {
    display: block;
    text-align: right;
    color: #fff;
    
    text-transform: uppercase;
    font-size: 15px;
    padding: 0 70px 0 0;
    margin-top: -15px;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    }

          

          .main .row {padding: 0 30px;}

          .yellow-bg {
            background: #e7d614;
          }

          .yellow-bg hr {border: 1px solid #fff;}

          .yellow-bg h4 {
            text-transform: uppercase;
            margin: 15px 0;
          }

          .flookys-bg {background: #f5e708;}

          .yellow-bg h4 span {padding-left: 105px;}

          #projects-retha .yellow-bg p {margin-bottom: 90px;}
          #projects-retha .yellow-bg img {width: 100%;}
          

          #projects-flookys .flookys-bg p {margin-bottom: 117px;}
          #projects-flookys .flookys-bg h4 {text-transform: uppercase;}
          #projects-flookys .flookys-bg h6 {padding: 0 0 10px;}
          #projects-flookys .flookys-bg img {width: 100%;}
          #projects-flookys .projects-quote p span {color: #f5e708;}

          .yellow-bg .divider {height: 7px; background: #fff; margin: 20px 0 0;}

          #projects-flookys .banafrit-bg {background: #f7931e;}
          #projects-flookys .banafrit-bg p, #projects-flookys .banafrit-bg h4, #projects-flookys .banafrit-bg .upper {color: #fff;}


          .flookys-bg .divider {height: 7px; background: #fff; margin: 20px 0 0;}

          .yellow-bg h6 {
            padding: 0 0 10px;
          }

          .pink-bg {
            background: #b90f8a;
          }

          .pink-bg p, .pink-bg h4 {color: #fff;}

          .pink-bg h4 {
            text-transform: uppercase;
            margin: 15px 0;
          }


          .pink-bg .divider {height: 7px; background: #fff; margin: 20px 0 0;}

          .pink-bg h6 {
            padding: 0 0 10px;
            color: #fff;
          }

          .pink-bg p {margin-bottom: 60px;}


          .footer {
                  background: #a91f36;
                      padding: 0 10px;
                      margin-top: 10px;
              }



          .footer img {
                margin: 7px 5px 0 0;
                float: right;
          }


          .footer p {
            font-family: 'Archivo Black', sans-serif;
            padding: 10px 0;
            color: #fff;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 1px;
            margin: 0;
          }

          .footer.yellow-bg p {text-align: left; color: #353535; font-size: 14px; margin-bottom: 5px;}

          .cartbtn img { margin: -5px 0 0 0; float: right; }

     /* Utilities */

    .content {margin: 10px 0 0; padding: 0 10px;}
    .clearfix {clear: both;}
    .text-center {text-align: center!important; display: block!important;}
    .topbottom20 {margin-top: 20px; margin-bottom: 20px;}
    .margbtm40 {margin-bottom: 40px!important;}
    .margbtm30 {margin-bottom: 30px;}
    .margbtm20 {margin-bottom: 20px!important;}
    .margbtm15 {margin-bottom: 15px;}
    .margtop10 {margin-top: 10px;}
    .margtop15 {margin-top: 15px;}
    .margtop20 {margin-top: 20px!important;}
    .margtop30 {margin-top: 30px;}
    .margtop40 {margin-top: 40px;}
    .margtop50 {margin-top: 40px;}
    .margtop65 {margin-top: 65px;}
    .padding5 {padding: 5px;}
    .no-padding, .no-padding-tablet-up {padding-left: 0; padding-right: 0; padding-bottom: 0; padding-top: 0;}
    .no-margin, .no-margin-tablet-up {margin-left: 0; margin-right: 0; margin-bottom: 0; margin-top: 0;}
    .img-center {margin: 0 auto; display: block;}
    .block {display: block;}
    .block-tablet-up {display: block;}
    .pink {background: #b90f8b;}
    .grid-item { width: 19%; }
    .grid-item--width2 { width: 50%; }
    .divider {height: 10px; background: #ffc21f; margin: 20px 0;}
    .upper {text-transform: uppercase; text-align: center;}
    
    #projects .projects, 
    #services .services, 
    #about .about, 
    #contact .contact, .navbar-inverse .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:hover {
      color: rgb(250, 190, 30)!important; 
      font-weight: bold;
    }

    .field1-wrapper input {
      display: none;
    }

    #contact .brain-bg {
      padding-top: 50px;
      padding-bottom: 100px;
    }

    .right {float: right;}
    .right-border { border-right: 1px solid #fff;}

    .dropdown {display: none;}
      
      header, .container {
            
          }

          .container {max-width: 1366px;}

          header .logo {
            margin: 0 auto;
            display: table;
          }

          .links ul {
            margin-top: 6px;
            display: flex;
            flex-wrap: wrap;
          }

        .links ul li.contact_btn a {
          color: #fff;
          background: rgb(250, 190, 30) none repeat scroll 0% 0%;
          border-radius: 5px;
        }

        .links ul li.contact_btn a:hover {
          background: #fff;
          color: #000;
        }

      .links ul li a {
        padding: 10px 15px;
         display: block;
         color: #fff;
         font-family: 'Oxygen', sans-serif;
         text-transform: uppercase;
         }

        

      .social {
        display: table;
        margin: 0 auto;
      }

      .social li {
        float: left; margin-right: 20px;
      }

      .social img {
        float: left;
        margin: 10px 20px 0 0;
      }

      .social img:hover {opacity: 0.7;}

      
      .contact p {
        padding: 0 20px;
      }

        

      .nav>li>a {padding: 0 10px;}

      .navbar-default {
      background-color: rgba(21,0,0,1);
      border: none;
      display: flex;
      flex-wrap: wrap;
      }

    .navbar-default .navbar-nav>li>a {color: #fff;}

    .navbar-inverse, .navbar-inverse {
  background-color: none!important;
  background: none!important;
  border: none;
  margin-bottom: 0;
}

.navbar-inverse .navbar-nav>li>a {color: #fff;}

nav ul {
  list-style-type: none;
  padding: 0 20px; 
  list-style: none;
  position: relative;
}

nav ul ul:hover {display: block;}

/* Set Dropdown Display to None*/
nav ul ul {
  display: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #a91f36; 
  border-radius: 0px; 
  position: absolute;
  margin-top: 0;
  z-index: 500;
  padding: 0!important;
}

/* Display Dropdown on hover*/

nav ul li:hover > ul {
    display: block;
    width: 205px;
}

ul li{
 display: inline-block;
}

ul li a {
  padding: 20px;
}

ul li a:hover{
  text-decoration: none;
}

nav ul ul li {
  width: 100%;
}

nav ul ul li a {
  color: #fff!important;
  padding: 10px 15px 10px 15px!important;
  font-size: 16px;
  text-transform: none!important;
  width: 100%;
}

nav ul ul li a:hover {
  color: rgb(250, 190, 30)!important;
  opacity: 1;
}


    .sub-menu {}

    .sub-menu ul {
      padding: 20px 0;
      display: table; 
      margin: 0 auto;
    }

    .sub-menu ul li {

       float: left;
       margin: 0 0.9em 0 0;
       max-width: 18%;
       border-bottom: 5px solid #e7d614;
    }

    .sub-menu ul li:hover {
        cursor: pointer;
        background: #333;
        border-bottom: 5px solid #2aaba9;
    }

    .sub-menu ul li:hover span {
      background: #2aaba9;
      color: #fff;
    }

    .sub-menu ul li:nth-child(3) {
      margin: 20px 20px 0 0;
      padding: 0 4px;
      max-width: 20%;
      border-bottom: none;
      }

      .sub-menu ul li:nth-child(3):hover {
        background: none;
        cursor: default;
      }


    .sub-menu ul li span {
      background: #e7d614;
      text-align: center;
      font-family: MinnieDrop, sans-serif;
      display: block;
      font-size: 18px;
    }

    .gray-text {
      
      font-size: 18px;
      text-align: center;
      line-height: 24px;
      color: #2aaba9;
      padding: 5px 0;
    }

    .video-menu {
        max-width: 1325px;
        margin: 0 auto;
    }

    .video-menu .btn {
      max-width: 250px;
      margin: 0 auto;
  }

    .fancybox-title-float-wrap .child {
      background: rgba(56, 51, 51, 0.9)!important;
          -webkit-border-radius: 0!important;
          -moz-border-radius: 0px!important;
          border-radius: 0!important;
    }


    .rslides {
      margin: 0 auto;
      max-width: inherit!important;
    }

    .next-show {background: #666; padding: 5px; display: none;}

    .next-show h4 { color: #fff;} 

    .show {display: inline;}

    .embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}

    
    /* Home */

    .home-main {background: rgb(250, 190, 30) none repeat scroll 0% 0%; margin: 10px auto!important;}
    .home-main img {margin: 0 auto;}

    .brown {background: #313131;}
    .brown h1 {color: #ffc21f; font-size: 36px; margin-top: 50px; text-transform: uppercase;}
    .brown h4 {color: #ffc21f; text-align: center; margin-bottom: 30px;}
    .brown h1 span {background: #a91f36; display: block; width: 147px; height: 4px; margin: 20px auto;}
    .brown p {font-family: 'Oxygen', sans-serif; color: #fff; text-align: center;}
    .brown img {margin: 0 auto;}
    .brown .home-sub {margin-top: 30px; padding-bottom: 30px;}
    .brown .btn {background: #a91f36; color: #fff; padding: 10px 20px; display: table; font-size: 20px; text-transform: uppercase; font-weight: bold; margin: 20px auto 30px;}


    .white-sub {padding-top: 30px;}
    .white-sub img {
        max-width: 200px;
        margin: 0 auto;
      }
    .white-sub h2 {text-transform: uppercase; font-size: 39px; margin-top: 40px;}
    .white-sub h2 span {background: #ffc21f; display: block; width: 100%; height: 4px; margin: 20px auto;}
    .white-sub h4 {font-size: 22px;}
    .white-sub p {font-family: 'Assistant', sans-serif; text-align: center;}
    .white-sub span {font-family: 'Archivo Black', sans-serif; color: #ffc21f; display: block; margin: 20px auto; text-align: center; font-size: 20px; border-radius: 0;}
    .white-sub .btn {background: #a91f36; color: #fff; padding: 10px 90px; display: table;font-size: 20px; text-transform: uppercase; font-weight: bold; border-radius: 4px; margin: 20px auto 40px;
}
     .white-sub .btn:hover, .brown .btn:hover {opacity: 0.6;}
    

    /* About CSS */

    

    .about-bg {background: url('../images/about-bg.png') top left no-repeat; background-size: cover; padding: 0 0 100px 0;}
    .about-bg h1 {font-size: 36px; color: #a91f36; text-transform: uppercase; margin: 60px 0 30px;}
    .about-bg h1 span {display: block;}
    .about-bg p {font-size: 18px;color: #434343;}
    .about-bg .btn {
      display: table;
    color: #fff;
    background: #323232;
    margin: 20px auto;
    }

    .max-600 {max-width: 600px; margin: 20px auto;}

  .ffc21f {background: hsla(44, 100%, 56%, 0.6); margin: 20px; padding: 35px;}
  .ffc21f h3 {font-size: 36px; color: #a91f36;}

    .bio {background: url('../images/about-main.jpg') center -10px no-repeat #ccc; border-top: 10px solid #ffc21f; border-bottom: 10px solid #ffc21f; background-size: cover;}
    .bio p {font-size: 15px; /*text-transform: uppercase; */ text-align: center; color: #444444; margin-top: 30px;}
    .bio h2 {color: #a91f36; text-align: center; font-size: 36px; margin: 30px 0; text-transform: uppercase;}

    /* Services */

    #services h1, #services h3 {color: #a91f36; text-transform: uppercase; font-size: 36px;}

    .yellowbox {background: #fedb26; padding: 20px; letter-spacing: 1px; margin-top: 35px; border: 2px solid #a91f36;}
    .yellowbox p {
        font-family: 'Oxygen', sans-serif;
        text-align: center;
        color: #a91f36;
        font-style: italic;
        font-size: 15px;
        margin-bottom: 0;
    }

    .yellowbg2 {
      background: rgb(250, 190, 30) none repeat scroll 0% 0%;
      padding: 40px;
    }

    .yellowbg2 p {color: #323232; font-family: 'Assistant', sans-serif; font-size: 22px; text-align: center;}
    .yellowbg2 h3 {'Archivo Black', sans-serif; font-size: 24px; text-align: center; color: #fff; font-weight: bold; text-transform: uppercase; color: #a91f36;}

    .white-bg {background: #fff;}
    .white-bg  p {color: #323232; font-size: 15px;}

    .red-bg {background: url('../images/red-bg.jpg') 0px -250px no-repeat; padding-left: 40px; background-size: cover!important;}
    .red-bg p {color: #fff; font-family: 'Oxygen', sans-serif; font-size: 15px;}
    .red-bg h5 {color: #fff; font-family: 'Oxygen', sans-serif; font-weight: bold;}
    .red-bg h2 {color: #ffc21f; text-transform: uppercase; font-size: 36px;}

    .red-bg2 {background: url('../images/red-bg2.jpg') no-repeat; padding-left: 40px; background-size: cover!important;}
    .red-bg2 p {color: #fff; font-family: 'Oxygen', sans-serif; font-size: 15px;}
    .red-bg2 h5 {color: #fff; font-family: 'Oxygen', sans-serif; font-weight: bold;}
    .red-bg2 h2 {color: #ffc21f; font-size: 36px;}

    .solid-red-bg {
        background: #a91f36;
        border: 5px solid #fff;
        padding: 50px;
        margin: 70px 0;
    }

    .solid-red-bg img {width: 60px; margin: 0 auto;}
    .solid-red-bg .item {border-right: 1px solid #44cba9;}
    .solid-red-bg .item:nth-child(3) {border-right: none;}
    .solid-red-bg h3 {color: #fff;}


    /*Projects*/

    .mustard {background: url('../images/project-header-bg.jpg'); padding: 40px 0; background-size: cover;}

    .mustard h1 {font-family: 'Archivo Black', sans-serif; text-align: center; font-size: 32px;}

    .mustard p {font-size: 24px;}

    .mustard p span {display: block;}

    .alina {background: url('../images/projects-alina-bg.jpg') left -325px no-repeat;}
    /*.alina:hover {background: url('../images/projects-alina-bg-over.jpg') left -325px no-repeat;}*/

    .retha {background: url('../images/projects-retha-bg.jpg') 0 -47px #8a8a8a no-repeat;}
    /*.retha:hover {background: url('../images/projects-retha-bg-over.jpg') 0 -47px #8a8a8a no-repeat;}*/

    .banafrit {background: url('../images/projects-banafrit-bg.jpg') left -225px no-repeat;}
    /*.banafrit:hover {background: url('../images/projects-banafrit-bg-over.jpg') left -225px no-repeat;}*/

    .flookys {background: url('../images/projects-flookys-bg.jpg') left -345px no-repeat;}
    /*.flookys:hover {background: url('../images/projects-flookys-bg-over.jpg') left -345px no-repeat;}*/

    .sphsgb {background: url('../images/projects-sphsgb-bg.jpg') top left no-repeat;}
    /*.sphsgb:hover {background: url('../images/projects-sphsgb-bg-over.jpg') top left no-repeat;}*/

    .paris {background: url('../images/projects-paris-bg.jpg') center center no-repeat;}
    
    .seasoned {background: url('../images/projects-seasoned-bg.jpg') center center no-repeat;}

    .onpoint {background: url('../images/projects-onpoint-bg.jpg') top left no-repeat;}

    .artmemo {background: url('../images/projects-artmemo-bg.jpg') center center no-repeat;}

    .highlevel {background: url('../images/highlevel.jpg') center center no-repeat;}

    .blackgun {background: url('../images/blackgun.jpg') center center no-repeat;}

    .air {background: url('../images/air-screen.jpg') center center no-repeat;}

    

    .clients {
      overflow: auto;
      padding: 40px 0!important;
     background-size: cover!important;
     -webkit-transition: all 0.5s ease; 
     transition: all 0.5s ease;
     opacity: 0.9;
    }

    .clients:hover {opacity: 1; cursor: pointer;}

    .clients img {margin: 0 auto; max-width: 235px; opacity: 1!important;}

    .clients span {
        color: #fff;
        display: table;
        margin: 0 auto;
        border-top: 1px solid #fff;
        padding: 15px 0 0 0;
        }

        .clients span.no_line {
          border: 0;
        }

    .clients a.btn {
    text-align: center;
    display: table;
    padding: 10px 40px;
    border: 2px solid #fff;
    margin: 30px auto;
    border-radius: 0;
    text-transform: uppercase;
    }

    .clients a.btn:hover, .clients a.btn:focus {
      background: #a91f36;
      border: 2px solid #a91f36;
      color: #fff;
      cursor: pointer
    }


    

        .dim {opacity, 0.3}

        .projects-quote {margin: 50px 0;}


        .projects-quote h3 {    
          font-size: 24px;
          font-weight: bold;
          text-transform: uppercase;
          color: #a91f36;
        }

        .projects-quote  h3 {display: block; text-align: center; color: #a91f36;}
        .projects-quote a {
          display:table;
          text-align: center;
          text-transform: uppercase;
          font-size: 20px;
          background: #a91f36;
          color: #fff;
          margin: 0 auto;
          padding: 10px 20px;
        }
        
        .brain-bg {background: url('../images/brain-bg.png') 5px -155px #fff2f2; background-size: cover;}

        .brain-bg h2 {
          text-align: center;
          text-transform: uppercase;
          color: #a91f36;
          margin: 110px auto 40px;
          padding: 20px;
          border: 5px solid #ffc21f;
        }

        .brain-bg h5 {font-family: 'Oxygen', sans-serif;}
        .brain-bg h5, .brain-bg label {text-transform: uppercase; font-size: 13px; text-rendering: optimizeLegibility;}

        .brain-bg .text {padding: 0 100px 0 0;}

        .brain-bg .text a {
          color: #ffc21f;
        }

    



    /* Contact CSS */

    

    /* Bio CSS */



    .contact-info {padding: 20px 0 0 0;}
    .contact p, label {color: #353535; font-weight: normal;}

    form {margin: 40px 0 0 0}

    form input[type="checkbox"] {width: auto; display: inline;}

    form .item {margin: 0 0 20px 0;}
    .btn {font-family: 'Archivo Black', sans-serif;}

    .white-sub .btn {
      background: #a91f36;
      color: #fff;
      padding: 10px 20px;
      display: table;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
      margin: 20px auto 30px;

    }

    .white-sub h3 {
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      color: #a91f36;
    }

    #g-recaptcha-error {
      display: none;
    }
    
    form .btn {      
    background: #a91f36;
    border: none;
    border: 1px solid #c0bebe;
    color: #fff;
    display: table;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 0;
    margin: 10px 0 0 0;
    text-transform: uppercase;
    border-radius: 3px;
    }



    .btn-primary {
      background: #fff; 
      border: none; 
      border: 1px solid #c0bebe; 
      color: #e7d614; 
      display: table; 
      margin: 20px auto; 
      padding: 10px 60px;
      text-decoration: none;
    }

    .btn-primary:hover {background-color: rgba(51,51,51,0.7);}

     

      input[type=text], textarea {margin: 0 0 20px 0;}
      textarea {width: 350px; height: 80px;}
      form span {
            font-family: 'Oxygen', sans-serif;
            display: none;
            font-size: 1em;
            font-weight: bold;
            margin: 0em 0 15px 0;
            color: #353535;
      }

      textarea.form-control {min-height: 120px; margin: 0 0 20px 0;}

      .send-data-message .item {
            margin-top: 20px;
            padding: 40px;
            border-radius: 6px;
      }

      .send-data-message .btn-primary {margin-top: 20px;}
      .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {background: #333;
      }

      .navbar-nav {
        margin: 0;
        padding: 0;
        float: right;
      }


      .dropdown-menu {
        margin: -12px 0 0 0; 
        -webkit-transition: all 0.5s ease; 
        transition: all 0.5s ease; 
        background: #a91f36; 
        left: 23%;
        border: none;
      }
      .dropdown-menu li {float: none!important;}
      .dropdown-menu li a {color: #fff; padding: 10px 15px!important;}
      .dropdown-menu li a:hover {}

      /*drop down*/
ul.menu li.services:hover ul.submenu {display:block; width:200px;}
ul.submenu {list-style:none; padding:0px; margin-top:0px; display:none; z-index:5; position:absolute; background:#a91f36; transition: background 0.2s ease,
              padding 0.8s linear; opacity: 0.3;}
ul.submenu li {
    font-size: 13px;
    display: block;
    width: 100%;
    text-align: left;
    padding: 0 0 0 16px;
    }
ul.submenu li a {display:block; width:100%;  padding:8px 0; color:#fff;font-family: 'Oxygen', sans-serif;}

.photosets .grid-item {width: 24%;}
ul.submenu li a:hover {color: rgb(250, 190, 30); transition: all 1.2s ease;}



 


    

      @media (max-width: 1200px) {        
      .red-bg {background: url('../images/red-bg.jpg') 0px 0px no-repeat;}
      .client-grid .item div {left: 15%;}
      .alina {background: url('../images/projects-alina-bg.jpg') 0 -215px no-repeat;}
      .alina:hover {background: url('../images/projects-alina-bg-over.jpg') 0 -215px no-repeat;}
      .banafrit {background: url('../images/projects-banafrit-bg.jpg') left -125px no-repeat;}
      .banafrit:hover {background: url('../images/projects-banafrit-bg-over.jpg') left -125px no-repeat;}
      .retha {background: url(../images/projects-retha-bg.jpg) 0 0px #8a8a8a no-repeat;}
      .retha:hover {background: url('../images/projects-retha-bg-over.jpg') 0 0 #8a8a8a no-repeat;}
      }


      @media (max-width: 991px) {
      .container {width: 100%;}
      .margtop50 {margin-top: 0;}
      .no-padding-tablet-up {padding: 0 30px;}
      .block-tablet-up {display: inline-block;}
      .no-padding {padding: 0;}
      .hide-tablet-down {display: none;}
      .brain-bg .text {padding-right: 15px; padding-left: 15px;}
      .brain-bg h2 {margin: 20px auto;}
      .client-grid .item div h3 {width: 330px!important; font-size: 23px!important;}
      #projects-flookys .flookys-bg p {margin-bottom: 37px;}
      #projects-retha .yellow-bg p {margin-bottom: 20px;}
      .pink-bg p {margin-bottom: 0;}
      .flookys {background: url(../images/projects-flookys-bg.jpg) left -205px no-repeat;}
      .flookys:hover {background: url('../images/projects-flookys-bg-over.jpg') left -205px no-repeat;}
      .alina {background: url('../images/projects-alina-bg.jpg') 0 -165px no-repeat;}
      .alina:hover {background: url('../images/projects-alina-bg-over.jpg') 0 -165px no-repeat;}
}  


      @media (max-width: 768px) {
        .container {width: 100%;}
        .btn {margin: 0 auto;}
        .client-grid .item div {left: 6%; top: 30%; }
        .client-grid .item div h3 {font-size: 17px;}
        .raise, .client-grid .item div:hover h3 {width: 360px!important; max-width: 360px!important;}
        #projects-flookys .flookys-bg p, #projects-retha .yellow-bg p, #projects-alina .pink-bg p {font-size: 12px; margin-bottom: 0; }
        .pink-bg h4, #projects-flookys .flookys-bg h4, #projects-retha .yellow-bg h4 {font-size: 15px;}
        .pink-bg h6, #projects-flookys .flookys-bg h6, #projects-retha .yellow-bg h6 {text-align: center;}
        .pink-bg .divider, #projects-flookys .flookys-bg  .divider, #projects-retha .yellow-bg .divider {height: 2px;}
        .right-border, .right-border-white {border-right: none;}
        .white-sub {padding-top: 0;} 
        .solid-red-bg .item {border-right: none;}
        .alina {background: url('../images/projects-alina-bg.jpg') 0 -65px no-repeat;}
        .alina:hover {background: url('../images/projects-alina-bg-over.jpg') 0 -65px no-repeat;}
        .banafrit {background: url('../images/projects-banafrit-bg.jpg') left -45px no-repeat;}
        .banafrit:hover {background: url('../images/projects-banafrit-bg-over.jpg') left -45px no-repeat;}
        .flookys {background: url(../images/projects-flookys-bg.jpg) left -75px no-repeat;}
        .flookys:hover {background: url('../images/projects-flookys-bg-over.jpg') left -75px no-repeat;}
        .retha {background-size: auto!important;}
        .navbar-nav {float: none;}
        .navbar-header {order: 2; margin-left: auto;margin-right: 10px;}
        .links ul {display: block; margin-top: 20px; margin-left: 20px;}
        .links ul li a {padding: 0; margin-bottom: 20px;}
        .navbar-default {position: relative; margin-bottom: 0;}
      }

      @media (max-width: 640px) {
        .fixed {display: none!important;}
        form {padding: 0;}
        .martop25-phone-down {margin-top: 25px;}
        .margbtm-phone-down {margin-bottom: 15px;}
        .logo img {margin: 10px auto;}
        .footer img {margin: 15px 5px 0 0;}
        .links ul li, nav ul ul li {float: none; display: block;}
        .navbar-default .navbar-nav>li>a {display: block;}
        .red-bg, .red-bg2 {padding: 15px;}
        .client-grid .item div h3 {margin-left: 12px;}
        nav ul ul {position: relative; background: none; margin: 0; padding: 10px 0 10px 10px;}
        .alina {background: url('../images/projects-alina-bg.jpg') 0 0 no-repeat;}
        .alina:hover {background: url('../images/projects-alina-bg-over.jpg') 0 0 no-repeat;}
        .banafrit {background: url('../images/projects-banafrit-bg.jpg') 0 0 no-repeat;}
        .banafrit:hover {background: url('../images/projects-banafrit-bg-over.jpg') 0 0 no-repeat;}
        .flookys {background: url(../images/projects-flookys-bg.jpg) 0 0 no-repeat;}
        .flookys:hover {background: url('../images/projects-flookys-bg-over.jpg') 0 0 no-repeat;}
      }

       @media (max-width: 440px) {
       
       }

       @media (max-width: 375px) {
        .client-grid .item div h3 {width: 293px;}
       }

       @media (max-width: 320px) {
        .client-grid .item div h3 {width: 240px; font-size: 15px;}
       }

       @media (min-width: 768px) {
        .navbar-nav {float: right;}
        } 